---
- name:  VM System Audit
  hosts: "{{ target_hosts }}"  # This MUST match the Survey variable name
  become: yes
  gather_facts: no             # Skips the step that caused your error

  tasks:
    - name: Get system metrics
      shell: "uptime; uname -a; df -h; ip -brief addr"
      register: audit_output

    - name: Display audit results
      debug:
        msg: "{{ audit_output.stdout_lines }}"
